/**
 * @name Translucence X rainyday
 * @version 1.0
 * @description Translucence Theme with an animated rainy day background
 * @author CapnKitten,Khralis
 *
 * @website http://github.com/Khralis/bd-themes
 */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
@import url(https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css);
:root{
    --app-bg: url(https://i.imgur.com/GP9P19G.gif);
    --app-accent: #316697;
    --app-blur: 2px;
    --server-icon-size: 52px; /* Size of the server icons | DEFAULT: 35px */
    --server-icon-spacing: 4px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
    --server-container-padding: 6px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */
}