/**
 * @name Translucence X Falls2
 * @version 1.0
 * @description Translucence Theme with an animated voxel waterfall background
 * @author CapnKitten,Khralis
 *
 * @website http://github.com/Khralis/bd-themes
 */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
@import url(https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css);
:root{
    --app-bg: url(https://i.imgur.com/fgmECbS.gif);
    --app-accent: #69b845;
    --app-blur: 0px;
    --popup-background: url(https://i.imgur.com/HxVri4e.png);  /* Background for popups and modals  */
    --server-icon-size: 52px; /* Size of the server icons | DEFAULT: 35px */
    --server-icon-spacing: 4px; /* Spacing between server icons. Negative values are allowed | DEFAULT: 8px */
    --server-container-padding: 6px; /* Spacing to the left and right sides of server icons | DEFAULT: 10px */
}